<div class="jumbotron">
    <h1 class="display-4">New Book</h1>
    <hr class="my-4">
    <form action="/books" method="POST">
        <%- include('_form_fields') %>
        <a href="/books" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
  </div>