@import 'shared/fonts.css';
@import 'shared/form.css';

:root {
    font-family: 'Roboto';
    font-size: 20px;
    text-decoration-line: none;
}
h2 {
  font-size: 1.5em;
}

a:link {
    text-decoration: none;
  }

  .intro {
    margin-bottom: .75em;
    margin-top: .75em;
    margin-left: 1em;


  }

  .intro {
    border-bottom: 1px solid #dcdada;
  }

  .cell {
    display: inline-block;
    text-align: center;
    padding: .5em;
    margin-bottom: 1.5em;
    outline-style: solid;
    outline: rgb(48, 48, 48);
    background-color: rgb(255, 255, 255);
  }