@import 'shared/fonts.css';

:root {
    font-family: 'Roboto';
    font-size: 20px;
    text-decoration-line: none;
}

a:link {
    text-decoration: none;
  }

  .mt-0 {
    margin-top: 0 !important;
  }
  
  .ml-1 {
    margin-left: (spacer * .25) !important;
  }
  
  .px-2 {
    padding-left: (spacer * .5) !important;
    padding-right: (spacer * .5) !important;
  }
  
  .p-3 {
    padding: spacer !important;
  }
